* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    background: url(http://lambert.kwst.net/site/images/bg/9.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    opacity:500%;
    background-size: cover;
    background-position: center;
    background-color: black;  
}
.social{
    color: #fff;
    font-size: 12px;
}
.navbar-brand a{
    color: #fff;
}
nav{
    position: fixed;
    width: 100%;
}
nav.white{
    background: #fff;
}
.nav-item{
    color: #fff;
}
.textss a{
    color:#fff
}
.textss{
    font-family: 'Times New Roman', Times, serif;
    
    text-transform: uppercase;
    font-size: 15px;
}
.nav-link{
    
}
.textss::after:hover a{
    color: goldenrod;
}
.soc {
    margin-left: 350px;
}
.contain{
    width: 10px;
    height: 100px;
}

.content{
    text-align: center;
    padding-top: 100px;
    color:white;   
}
.content h3{
    font-size: 3.5rem;
    font-family: 'Playball', cursive; 
    font-weight: bold;
    font-style: inherit;
    margin-bottom: 20px;

}
.section-title h3{
    color: goldenrod;
    font-size: 28px;
    font-family: 'Playball', cursive;
    text-transform: uppercase;
    font-weight: bold;
    
}
.flowery{
    text-align: center;
    
}
.ajax{
    color: goldenrod;
    text-decoration: none;
    font-family: 'Playball', cursive;
    font-size: 17px;
    text-transform: uppercase;
}
.ajax:hover {
    color:black;
}
h3{
    font-size: 28px;
    font-family:'playball',cursive ;
    text-transform: capitalize;
}
.content h4{
    font-size: 20px;
    font-weight: 20px;
}
.baka{
    margin-top:100px;
    margin-bottom: 100px;
}
.col-md-6{
    margin-top:-70px;
}
.Another{
  background-image: url(http://lambert.kwst.net/site/images/bg/28.jpg);
  background-attachment: fixed;
  height: 130vh;
  width: 100%;
  opacity:120%;
  background-position: center;
  background-size: cover;
  
}
.Another h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 20px
    
}
.Another h3{
    color: goldenrod;
    padding-bottom: 20px;
}
.hours{
    font-size: 40px;
    color: white;
    font-weight: bolder;
}
.calling{
    font-size: 30px;
    color: goldenrod;
    font-weight:bold ;
    font-family:'playball',cursive ;
    padding-bottom: 1000px;
}
.calling a{
    text-decoration: none;
    color: goldenrod;
    padding-bottom: 100px;
}
.Another{
    text-align: center;
    padding-top: 200px;
    color: black;
}
.price{
    background-image: url(http://lambert.kwst.net/site/images/bg/8.jpg);
    background-attachment:fixed ;
    height: 130vh;
    opacity:120%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.col-md-12{
    display: flexbox;
}
sub{
    text-decoration: line-through;
    color: goldenrod;
}
.promotion-details{
    display: flex;
}
.promotion-item{
    color: #fff;
}
.promotion-desc {
    padding-right: 5px;
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-size: 20px;
}
.promotion-desc {
    display: table-cell;
    white-space: nowrap;
    width: 15%;
    line-height: 10px;
    text-align: left;
    
}
.promotion-dot {
    display: table-cell;
    width: 80%;
    border-bottom: 2px dotted #fff;
}
.promotion-discount{
    font-size: 25px;
    font-weight: bold;
}
.promotion-title{
    display: flex;
}
.online{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family:'playball',cursive ;
    margin-top: 30px;
}
.online a{
    text-decoration: none;
    color: goldenrod;
}
.online:hover a{
    color: #fff;
}
.deals{
    text-align: center;
    padding-top: 100px;
    color: #fff;
    font-weight: 400px;
}
.deals h1{
    font-weight: bolder;
}
.section-title{
    text-align: center;
    padding-top: 100px;
}
.inner{
    text-align: center;
    font-size: 15px;
}
.chefname{
    color: black;
    font-family:'playball',cursive ;
    font-weight: bold;
}
.chefinfo{
    color: goldenrod;
    font-weight: bold;
    font-size: 10px;
}
.more-info{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    text-decoration: none;
    text-align: center;
}
.flexible{
}
.more-info a{
    text-decoration: none;
    color:goldenrod;
}
.iid:hover{
    color: black;

}
.almost{
    background-image: url(http://lambert.kwst.net/site/images/bg/1.jpg);
    background-attachment: fixed;
    height: 130vh;
    width: 100%;
    opacity:120%;
    padding-top: 100px;
    text-align: center;
}
.testimonial h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}
.wat{
    font-size: 30px;
    font-family:'playball',cursive ;
    color: goldenrod;
}
.kl{
    padding-top: 20px;
}
.footer-info{
    background-color: black;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
}
.about h4{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.fashion{
    font-family: 'Playball', cursive;
    color: gray;
}
.find h4{
    text-transform: uppercase;
    color: goldenrod;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: 'Playball', cursive;
}
.palmer {
    text-align: center;
    cursor: pointer;
    color: #fff;
    justify-content: center;
}
.palmer:hover {
    color: goldenrod;
}
.news{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.enteremail{
    width: 250px;
    height: 50px;
    background: transparent;
}
.subscribe-button{
    height: 50px;
    width: 50px;
    color: goldenrod;
}
.l{
    text-align: center;
    padding-top: 40px;
}
.footer li a{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
}
.col-md-8{
    text-decoration: none;
}
.foot a{
    text-decoration: none;
    color: gray;
    font-size: 10px;
}
.foot {
    display: flex;
}
.footer-contacts{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
    margin: 0 -23px;
    
}

.footer-contacts a{
    text-decoration: none;
    color: gray;
    
}

ul{
    display: flex;
    text-decoration: none;
}
.nana .section-title{
    margin-top: -100px;
}
ul,li{
    text-align: center;
    color: goldenrod;
    list-style: none;
    justify-content: center;
    margin-bottom: -100px;
}
.carousel-item p{
    color: #fff;
    text-align: center;
    padding-top: 90px;
    font-size: 16px;
    

}
.ichigo{
    height: 50vh;
    width: 100%;
}
.handles a{
    padding-top:10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family:'Playball', cursive ;
    color: goldenrod;
}
.quotes{
    color: goldenrod;
    font-size: 40px;
    
}
.to-top-holder{
    background-color: black;
    height: 15vh;
    width: 100%;
    opacity: 90%;
    font-family:'Playball', cursive ;
}
.lam{
    display: flex;
    color: goldenrod;
    justify-content: space-between;
    padding-top: 40px;
}
.res{
    color: #fff;
}


.contacts {
   display: flex;
   margin: 0 200px;
   
}
.cnt{
    margin: 1px;
}
